{% extends "base.html" %}

{% block content %}
  <h1>{{ car.model }}</h1>
  <p><strong>Manufacturer:</strong> {{ car.manufacturer.name }}</p>
  <p><strong>Country:</strong> {{ car.manufacturer.country }}</p>
  <div class="ml-3">
    <h3>Drivers:</h3>
    {% for driver in car.drivers.all %}
      <hr>
      <p>{{ driver.first_name }} {{ driver.last_name }}
      {% if driver.pseudonym %}
        ({{ driver.pseudonym }})
      {% endif %}
      </p>
      <p class="text-muted">id: {{ driver.id }}</p>
    {% empty %}
      <p>Car has no drivers!</p>
    {% endfor %}
  </div>
{% endblock %}