{% extends "base.html" %}

{% block content %}
  <h1>{{ driver.username }}</h1>
  <p><strong>Name:</strong> {{ driver.first_name }} {{ driver.last_name }}</p>
  {% if driver.pseudonym %}
    <p><strong>Pseudonym:</strong> {{ driver.pseudonym }})</p>
  {% endif %}
  <p><strong>License number:</strong> {{ driver.license_number }}</p>
  <div class="ml-3">
    <h3>Cars:</h3>
    {% for car in driver.cars.all %}
      <hr>
      <p>{{ car.model }}
      </p>
      <p class="text-muted">id: {{ driver.id }}</p>
    {% empty %}
      <p>Driver has no cars!</p>
    {% endfor %}
  </div>
{% endblock %}